{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_bs4compat/index

    TODO describe template index

    Example context (json):
    {
    }
}}

<div data-region="bs4-compat">
    <h2 class="h3 mt-5">Example of old data-attributes</h2>

    {{! Collapse example }}
    <button class="btn btn-secondary mb-3" type="button" data-toggle="collapse" data-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        Toggle width collapse
    </button>
    <div>
        <div class="collapse width" id="collapseWidthExample">
            <div class="card card-body" style="width: 320px;">
                This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
            </div>
        </div>
    </div>

    {{! Modal example }}
    <button type="button" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#staticBackdrop">
        Launch static backdrop modal
    </button>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
            </div>
        </div>
    </div>

    {{! Carousel example }}
    <div id="carouselExampleControls" class="carousel slide p-3 border rounded mb-3" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis a obcaecati molestias quae dicta corrupti minima error laboriosam est qui, dolore rem autem? Voluptatum est, fugit quod adipisci dicta nesciunt!
            </div>
            <div class="carousel-item">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis a obcaecati molestias quae dicta corrupti minima error laboriosam est qui, dolore rem autem? Voluptatum est, fugit quod adipisci dicta nesciunt!

            </div>
        </div>
        <button class="carousel-control-prev bg-dark rounded" type="button" data-target="#carouselExampleControls" data-slide="prev">
            <span>Previous</span>
        </button>
        <button class="carousel-control-next bg-dark rounded" type="button" data-target="#carouselExampleControls" data-slide="next">
            <span>Next</span>
        </button>
    </div>

    {{! Tooltip example }}
    <button type="button" class="btn btn-secondary mb-3" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        Tooltip on top
    </button>

    {{! Alert dismissable example }}
    <div class="alert alert-warning alert-dismissible fade show mb-3" role="alert">
        <strong>Holy guacamole!</strong> You should check in on some of those fields below.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {{! Dropdown example }}
    <div class="dropdown mb-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <button type="button" class="btn btn-secondary mb-3" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
        Click to toggle popover
    </button>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="messages-tab" data-toggle="tab" data-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Messages</button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">Profile</div>
        <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">Messages</div>
    </div>
</div>

{{#js}}
require(['theme_boost/bs4-compat'], function(BS4Compat) {
    BS4Compat();
});
{{/js}}